.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

body {
	font-family: 'Montserrat' !important;
}

#test {
	text-align: center;
}

h1 {
color:#001f3f;
font-family: 'Montserrat', sans-serif;
}

.alert-success{
text-align: center;
}

.alert-danger {
text-align: center;
}

.image_content{
width: 120px;
height: 100px;
}
